*#
.#*
*~
/.gradle/
build
pom.xml
.idea/
/out/
target/
*.pyc
*.ipr
*.iml
*.iws
.settings
.classpath
.project
.springBeans
bin
.DS_Store
/logs
**/fleet.json
**/serviceLocations.json
**/new_fleet.json

