/application.yml
/application.properties
*~
.#*
*#
target
bin
build
/data
.factorypath
.gradle
.classpath
.project
.settings
.springBeans
.DS_Store
*.sw*
*.iml
.idea
new_fleet.json
rebel.xml
/logs
**/fleet.json
**/servicelocations.json
*.ipr
*.iws
